@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

:root {
    --navbar-height: 3em;
    --alice-blue: #e7ecef;
    --cerulean-frost: #6096ba;
    --charcoal: #274156;
    --battleship: #8b8c89;
    --jet-gray: #373737;
  }

*{
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: var(--navbar-height, 3em); /* height of sticky header */
}

a:link {
    color: var(--alice-blue, #e7ecef);
  }

a:visited {
    color: var(--alice-blue, #e7ecef);
}

a:hover {
    color: var(--cerulean-frost, #6096ba);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--charcoal, #274156);
    color: var(--alice-blue, #e7ecef);
}

footer {
    text-align: center;
    background-color: var(--jet-gray);
}

footer p {
    margin: 0;
    padding: 10px 0;
}

h1 {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
    padding: 0 55px;
}
nav {
    height: var(--navbar-height);
    width: 100%;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    
    background-color: var(--cerulean-frost, #6096ba);

}

td {
    border: 1px solid var(--alice-blue, #e7ecef);
    padding: 3px;
}
th td{
    background: var(--cerulean-frost, #6096ba);
}
tr:nth-child(even) {
    background: var(--charcoal)
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
      35deg,
      var(--jet-gray, #373737) 0%,
      var(--battleship, #8b8c89) 1200%
    );
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: var(--alice-blue, #e7ecef);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/img/me.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 500px 486px;
    height: 486px;
    width: 500px;
    background-position-x: center;
    background-position-y: 138px ;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 20px; */
    
}

.info {
    background-color: var(--jet-gray);
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--alice-blue, #e7ecef);
}

#haiku {
    font-style:italic;

}

#nav-space {
    height: var(--navbar-height);
}

#topnav a {
    margin: 15px;
    font-size: 18px;
}

#topnav a:hover {
    color: var(--jet-gray)
}