@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
}

td {
    border: 1px solid black;
    padding: 3px;
}